<footer class="ph3 pv4 white bg-black">

	<div class="mw7 center pt1">

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f6 b lh-title mb1 grey-1">Content</h3>
				<ul class="f7">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/callforpapers" class="link">Call for papers</a></li>
					<li><a href="/program" class="link">Program</a></li>
					<li><a href="/venue" class="link">Venue</a></li>
					<li><a href="/keynote" class="link">Keynote speakers</a></li>
					<li><a href="/committee" class="link">Committee</a></li>
					<li><a href="/registration" class="link">Registration</a></li>
				</ul>
			</div>

			<div class="measure-narrow center">
				<img src="/img/icsob_hvit_transparent_180x180.png" alt="ICSOB2021 logo" class="db w4 center br0">
			</div>

			<div>
				<h3 class="f6 b lh-title mb2 grey-1">Social media</h3>
				<ul class="mhn2 f7">
					{{ partial "social-icon" (dict "link" "https://twitter.com/ICSOBconf?ref_src=twsrc%5Etfw" "svg" "icons-twitter") }}
					<h3 class="f6 b lh-title mb1 mt3 grey-1">Contact</h3>
					<li><a href="mailto:contact@contact.com">contact@contact.com</a></li>
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
