<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav id="navbar" class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<div id="logo">
	<a href="/" class="pa3 pb db mr4 min-h-100 w3 flex-none">
		<img src="/img/icsob2021_logo_transparent_180x180.png" alt="ICSOB Logo" class="br0 db mb w-100"/>
	</a>
	</div>
	<!-- Hamburger-->
		<i id="burger" class="fa fa-bars"></i>
		<input type="checkbox" id="hamburger">
	<!-- Primary Nav -->
	<ul id="menuItems" class="flex b grey-4">
		<li><a href="/" class="pa3 no-underline db">Home</a></li>

		<li><a href="/callforpapers" class="pa3 no-underline db">Call for papers</a></li>

		<li><a href="/program" class="pa3 no-underline db">Program</a></li>

		<li><a href="/venue" class="pa3 no-underline db">Venue</a></li>
		
		<li><a href="/keynote" class="pa3 no-underline db">Keynote speakers</a></li>

		<li><a href="/committee" class="pa3 no-underline db">Committee</a></li>

		<li><a href="/registration" class="pa3 no-underline db">Registration</a></li>
	</ul>

</nav>
